/api/vendor/
/api/.env
/api/public/storage
/api/storage/*.key
/api/bootstrap/cache/
/api/storage/logs/
/api/storage/framework/

/web/node_modules/
/web/dist/
/web/.env
/web/.env.local
/web/.env.*.local

.env
.idea/
.vscode/
.DS_Store
Thumbs.db
